
// 全局宽度
$max-width = 1200px
$min-width = 860px
// app-header 设置
$app-header-height = 60px
// app-footer 设置
$app-footer-height = 76px
// app-sign 设置
$app-sign-width = 500px
// app-notification 设置
$app-notification-width = 500px

// app-sidebar 相关配置
// $app-sidebar-title-height = 75px
// $app-sidebar-nav-height = 45px
// $app-sidebar-left-icon-size = 20

// global color
$theme-light-color = #FFA87E
$theme-color = #FF9966
$content-color = #1C1C1C
$shadow-color = rgba(0,0,0,.11)
$fail-color = #ff0000
$success-color = #9BCD9B
$info-color = #9C9C9C
$background-white = WhiteSmoke
